#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  /* padding: 20px; */
  /* background: linear-gradient(145deg, #2c003e, #5e00a1, #1f0069, #004f9f);; */
  background-size: 400% 400%;
  /* animation: gradientShift 20s ease infinite; */
  position: relative;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@keyframes gradientShift {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
